body {
	background-color: #FCFCFC;
	width: 100%;
	height: auto;
	font-family: monospace;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 21px;
}

.header-light {
	color: #FCFCFC;
}

.header-dark {
	color: #0D1B1E;
}

#container-header {
	width: 100%;
	height: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#menu-icon {
	width: 35px;
	position: absolute;
	right: 30px;
	top: 30px;
}

#header-description {
	margin-top: 15px;
}

#products-container {
	display: flex;
	justify-content: center;
}

.product-container {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-right: 5px;
}

.product-img {
	width: 315px;
}

.product-header {
	font-weight: bold;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product-description {
	color: grey;
	margin-bottom: 5px;
}

.product-sale-price {
	color: orange;
}

.product-normal-price {
	text-decoration: line-through;
}